@import '@unocss/reset/tailwind.css';

@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helveticanowdisplay-light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helveticanowdisplay-regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helveticanowdisplay-medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Helvetica';
    src: url('@/assets/fonts/helveticanowdisplay-bold.woff2') format('woff2');
    font-weight: 700;
}

:root{
    --primary: #000000;
    --text-white: #ffffff;

    /*1rem == 10px*/
    --font-size: 62.5%;

    --font-size-5: 1rem;
    --font-size-6: 1.2rem;
    --font-size-7: 1.4rem;
    --font-size-8: 1.6rem;
    --font-size-9: 1.8rem;
    --font-size-10: 2rem;
    --font-size-11: 2.2rem;
    --font-size-12: 2.4rem;
    --font-size-13: 2.6rem;
    --font-size-14: 2.8rem;
    --font-size-15: 3rem;
    --font-size-16: 3.2rem;
    --font-size-18: 3.6rem;
    --font-size-20: 4rem;
    --font-size-21: 4.2rem;
    --font-size-22: 4.4rem;
    --font-size-23: 4.6rem;
    --font-size-24: 4.8rem;
    --font-size-25: 5rem;
    --font-size-26: 5.2rem;
    --font-size-27: 5.4rem;
    --font-size-28: 5.6rem;
    --font-size-30: 6rem;
    --font-size-31: 6.2rem;
    --font-size-32: 6.4rem;
    --font-size-33: 6.6rem;
    --font-size-34: 6.8rem;
    --font-size-35: 7rem;
    --font-size-36: 7.2rem;
    --font-size-37: 7.4rem;
    --font-size-38: 7.6rem;
    --font-size-39: 7.8rem;
    --font-size-40: 8rem;
    --font-size-41: 8.2rem;
    --font-size-42: 8.4rem;
    --font-size-43: 8.6rem;
    --font-size-44: 8.8rem;
    --font-size-45: 9rem;
    --font-size-46: 9.2rem;
    --font-size-47: 9.4rem;
    --font-size-48: 9.6rem;
    --font-size-49: 9.8rem;
    --font-size-50: 10rem;
    --font-size-51: 10.2rem;
    --font-size-52: 10.4rem;
    --font-size-53: 10.6rem;
    --font-size-54: 10.8rem;
    --font-size-55: 11rem;
    --font-size-56: 11.2rem;
    --font-size-57: 11.4rem;
    --font-size-58: 11.6rem;
    --font-size-59: 11.8rem;
    --font-size-60: 12rem;
    --font-size-61: 12.2rem;
    --font-size-62: 12.4rem;
    --font-size-63: 12.6rem;
    --font-size-64: 12.8rem;

    --spacing-3: 0.6rem;
    --spacing-6: 1.2rem;
    --spacing-12: 2.4rem;
    --spacing-16: 3.2rem;
    --spacing-18: 3.6rem;
    --spacing-36: 7.2rem;
    --spacing-100: 20rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--primary);
    color: var(--text-white);
    line-height: 1.6;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}